repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.2
  hooks:
    - id: ruff-check
      args: [--preview]
    - id: ruff-format
      args: [--preview, --diff]

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.8.22
  hooks:
    - id: uv-lock
    - id: uv-sync

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-xml
    - id: check-toml
    - id: check-json
    - id: pretty-format-json
      args: [--autofix, --no-sort-keys]
    - id: debug-statements
    - id: name-tests-test
      args: [--pytest-test-first]
    - id: requirements-txt-fixer
    - id: mixed-line-ending
      args: [--fix=lf]
    - id: check-illegal-windows-names

- repo: https://github.com/gitleaks/gitleaks
  rev: v8.28.0
  hooks:
    - id: gitleaks

- repo: https://github.com/asottile/add-trailing-comma
  rev: v3.2.0
  hooks:
    - id: add-trailing-comma

- repo: https://github.com/asottile/pyupgrade
  rev: v3.20.0
  hooks:
    - id: pyupgrade
      args: [--py311-plus]
